@import "lib/normalize";
@import "lib/fontawesome";
@import "lib/devicon";

@import 'base';
@import 'vars';
@import 'animation';
@import 'header';
@import 'about';
@import 'projects';
@import 'footer';

div.row {
    width: 100%;
    clear: both;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 15px;
    padding-right: 15px;
    
    div.col {
        display: flex;
        flex: 1;

        &.user-image {
            max-width: 150px !important;
            margin-right: 20px;

            > img {
                max-width: 120px !important;
                height: 120px !important;
                border: 2px solid lighten(#35631a, 30%);
                border-radius: 60px;
                box-shadow: 0 0 30px darken(#ddd, 10%)
            }
        }
    }
}